@page "/user-page"
@layout AdminMasterPage
@attribute [Authorize(Roles = "user,admin")]

<div class="container">
    User page
</div>

@* 
<AuthorizeView Roles="user">
    <div>
        User view
    </div>
</AuthorizeView>
<AuthorizeView Roles="admin">
    <div>
        Admin view
    </div>
</AuthorizeView>
 *@
