<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" />
            <NotAuthorized>
                <div class="text-center">
                    <h3>Bạn không có quyền truy cập vào trang này !</h3>
                    <NavLink href="/login-page">Login</NavLink>
                </div>
            </NotAuthorized>
        </Found>
        @* <NotFound>
        <LayoutView Layout="@typeof(HomeMasterPage)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound> *@
    </Router>
</CascadingAuthenticationState>

