@inherits LayoutComponentBase
<div class="d-flex ">
    <div class="w-25 bg-dark" style="min-height: 100vh;">
        <ul>
            <li>
                <NavLink href="/login-page">Login</NavLink>
            </li>
            <li>
                <NavLink href="/admin-page">Admin</NavLink>
            </li>
            <li>
                <NavLink href="/user-page">User</NavLink>
            </li>
       
        </ul>
    </div>
    <div class="w-75" style="min-height: 100vh;">
        @Body
    </div>
</div>